<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Buy coffee for the Out with Sprout crew</title>
  <meta content="Out with Sprout: Omaha&#39;s Family Event Calendar" property="og:site_name" />
  <meta content="Buy coffee for the Out with Sprout crew" property="og:title" />
  <meta content="Have you ever wanted to say THANKS for providing this awesome family event calendar? Buy us coffee!" property="og:description" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href="favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
  <link rel="stylesheet" type="text/css" href="ows.css">
</head>
<body>
  <div class="wrapper">
    <header>
      <a href="http://www.outwithsprout.com" title="Out with Sprout: Omaha's Family Event Calendar">
        <img src="/logo.png" alt="Out with Sprout: Omaha's Family Event Calendar" width="260">
      </a>
    </header>

    <section id="main">
      <div class="box rachel selected">Rachel</div><div class="box jason">Jason</div>
      <div class="box jerod">Jerod</div><div class="box sarah">Sarah</div>

      <div class="coffee-wrapper">
        <button id="coffee">
          Buy Coffee For
          <span id="selected-count">1</span>
          (<span id="selected-dollars">$5</span>)
        </button>
      </div>
    </section>

    <section id="thanks">
      <h1>THANKS!</h1>
    </section>
  </div>

  <script src="https://checkout.stripe.com/checkout.js"></script>
  <script src="ows.js"></script>
  <script>
    OWS.init("<%= settings.stripe_key %>");
  </script>
</body>
</html>
