<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Buy coffee for the Out with Sprout crew</title>
  <meta content="Out with Sprout: Omaha&#39;s Family Event Calendar" property="og:site_name" />
  <meta content="Buy coffee for the Out with Sprout crew" property="og:title" />
  <meta content="Have you ever wanted to say THANKS for providing this awesome family event calendar? Buy us coffee!" property="og:description" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href="favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
  <link rel="stylesheet" type="text/css" href="ows.css">
</head>
<body>
  <div class="wrapper">
    <header>
      <a href="http://www.outwithsprout.com" title="Out with Sprout: Omaha's Family Event Calendar">
        <img src="images/logo.png" alt="Out with Sprout: Omaha's Family Event Calendar" width="260">
      </a>
    </header>

    <section id="main">
      <p class="about">
        <span class="fancy-text">Bringing</span> you the best events in
        <span class="fancy-text">Omaha</span> means a lot of
        <span class="fancy-text">late</span> nights and
        <span class="fancy-text">early</span> mornings. Help us fight off the
        <span class="fancy-text">ZZZ's</span> with a fresh cup of
        <span class="fancy-text">coffee!</span>
      </p>

      <div id="rachel" class="box rachel">Rachel</div><div id="jason" class="box jason">Jason</div>
      <div id="jerod" class="box jerod">Jerod</div><div id="sarah" class="box sarah">Sarah</div>

      <div class="coffee-wrapper">
        <button id="coffee" class="animated">
          Buy Coffee For
          <span id="selected-count">1</span>
          (<span id="selected-dollars">$5</span>)
        </button>
      </div>
    </section>

    <section id="thanks">
      <h1>THANKS!</h1>
    </section>
  </div>

  <script src="https://checkout.stripe.com/checkout.js"></script>
  <script src="ows.js"></script>
  <script>
    OWS.init("<%= settings.stripe_key %>");
  </script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-3287978-21', 'auto');
    ga('send', 'pageview');
  </script>
</body>
</html>
