body {
  background: #52b2cc;
  margin: 0;
  padding-top: 15px;
  font-family: nimbus-sans, HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.wrapper {
  max-width: 465px;
  margin: 0 auto;
}

header {
  text-align: center;
  height: 200px;
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 2;
}

header h1 {
  position: absolute;
  z-index: 2;
  width: 246px;
  margin: 0 0 0 -123px;
  height: 190px;
  left: 50%;
  bottom: 0;
}

header h1 a {
  display: block;
  padding: 0 0;
  width: 100%;
  height: 100%;
  background-image: url("images/logo.png");
  background-position: center -4px;
  background-size: 260px 198px;
  background-repeat: no-repeat;
  text-indent: -9999px;
  -webkit-transition: background-position 0.1s ease-in-out;
  -moz-transition: background-position 0.1s ease-in-out;
  transition: background-position 0.1s ease-in-out;
}

header a:hover {
  background-position: center -8px;
}

#main, #thanks {
  background: #fafafa;
  padding: 25px;
  border-radius: 6px;
}

#thanks {
  display: none;
}

p.about {
  font-size: 14px;
  color: #1e1e1e;
  line-height: 1.5em;
  font-weight: bold;
  text-align: justify;
}

p.about a {
  color: #1e1e1e;
}

.fancy-text {
  font-size: 1.5em;
}

.char1, .char8, .char15, .char22, .char29 { color: #8e8e8e; }
.char2, .char9, .char16, .char23, .char30 { color: #a4a4a4; }
.char3, .char10, .char17, .char24, .char31 { color: #a0a0a0; }
.char4, .char11, .char18, .char25, .char32 { color: #8f8f8f; }
.char5, .char12, .char19, .char26, .char33 { color: #8f8f8f; }
.char6, .char13, .char20, .char27, .char34 { color: #575757; }
.char7, .char14, .char21, .char28, .char35 { color: #7b7b7b; }

div.box {
  box-sizing: border-box;
  height: 200px;
  width: 200px;
  padding: 0;
  display: inline-block;
  cursor: pointer;
  background-image: url("images/sad-faces.jpg");
  background-repeat:  no-repeat;
  background-size: 200%;
  text-indent: -99999px;
  border: 15px solid gray;
}

div.box.hovered {
  background-image: url("images/beckoning-faces.jpg");
  border: 15px solid #e74835;
}


div.box.selected {
  background-image: url("images/happy-faces.jpg");
  border: 15px solid #e74835;
}

.rachel, .jerod { margin-right: 15px; }
.rachel, .jason { margin-bottom: 15px; }

.rachel { background-position: 0px 0px; }
.jerod  { background-position: 0px -170px; }
.jason  { background-position: -170px 0px; }
.sarah  { background-position: -170px -170px; }

.coffee-wrapper {
  margin: 0 auto;
  max-width: 440px;
}

#coffee {
  width: 100%;
  padding: 7px;
  margin-top: 25px;
  font-size: 18px;
  color: white;
  background: #e74835;
  border: none;
  cursor: pointer;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    -ms-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

@media only screen and (max-width: 470px) {
  .wrapper {
    max-width: 370px;
  }

  div.box {
    width: 150px;
    height: 150px;
  }

  .rachel { background-position: 0px 0px; }
  .jerod  { background-position: 0px -120px; }
  .jason  { background-position: -120px 0px; }
  .sarah  { background-position: -120px -120px; }
}

@media only screen and (max-width: 320px) {
  .wrapper {
    max-width: 310px;
  }

  div.box {
    width: 125px;
    height: 125px;
  }

  .rachel, .jerod { margin-right: 10px; }
  .rachel, .jason { margin-bottom: 10px; }

  .rachel { background-position: 0px 0px; }
  .jerod  { background-position: 0px -95px; }
  .jason  { background-position: -95px 0px; }
  .sarah  { background-position: -95px -95px; }
}

@media (-webkit-max-device-pixel-ratio: 1),
       (-o-max-device-pixel-ratio: 1/1),
       (max--moz-device-pixel-ratio: 1),
       (max-device-pixel-ratio: 1),
       (max-resolution: 1dppx) {
  body:after {
    content: url("images/sad-faces.jpg") url("images/happy-faces.jpg") url("images/beckoning-faces.jpg");
    display: none;
  }
}

@media (-webkit-min-device-pixel-ratio: 1.3),
       (-o-min-device-pixel-ratio: 2.6/2),
       (min--moz-device-pixel-ratio: 1.3),
       (min-device-pixel-ratio: 1.3),
       (min-resolution: 1.3dppx) {
  body:after {
    content: url("images/sad-faces@2x.jpg") url("images/happy-faces@2x.jpg") url("images/beckoning-faces@2x.jpg");
    display: none;
  }

  header h1 a {
    background-image: url("images/logo@2x.png");
  }

  div.box {
    background-image: url("images/sad-faces@2x.jpg");
  }
  div.box.hovered {
    background-image: url("images/beckoning-faces@2x.jpg");
  }

  div.box.selected {
    background-image: url("images/happy-faces@2x.jpg");
  }
}
